<div id="topo">

<!--Div do Logo -->
	<div class="logo">
		<img src="view/imagens/aetube.jpeg">
	</div>


<!--Div do Menu-->
	<div class="menu">
		
		<div class="dropdown">
		  <button class="dropbtn">Home</button>
		  <div class="dropdown-content">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn">Noticias</button>
		  <div class="dropdown-content">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn">Diretoria</button>
		  <div class="dropdown-content">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn">Fale Conosco</button>
		  <div class="dropdown-content">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

		<div class="dropdown">
		  <button class="dropbtn">Regulameto</button>
		  <div class="dropdown-content">
		    <a href="#">Link 1</a>
		    <a href="#">Link 2</a>
		    <a href="#">Link 3</a>
		  </div>
		</div>

	</div>
<!-- Div do Login e Senha do Usuario --> 
	<div class="login">
	<h4>Área do Associado <i class="fa fa-2x fa-graduation-cap" aria-hidden="true"></i></h4>

		<form class="form-inline" name="formAut" ng-submit="logando(user)">
			
			<div class="form-group">
					<input type="text" ng-model="user.cpf" class="form-control" placeholder="Digite seu CPF">
			</div>

			<div class="form-group">
				<input type="password" ng-model="user.senha" class="form-control" placeholder="Digite sua Senha">
			</div>

			<div class="form-group">
				<input type="submit" class="btn btn-warning" value="OK">
			</div>
		</form>
				
				<a href="#/forget">Esqueceu sua senha ?</a> 
	</div>

</div>


<section>

<div id="blocoBanner">
	<img src="view/imagens/banner1.png">
	<img src="view/imagens/banner2.jpg">
	<img src="view/imagens/banner3.png">
</div>

<div id="blocoNoticias">	
	
	<h4>Noticias</h4>


		<div class="titulo">Estudantes convocados para o Enade farão prova neste domingo</div>
		<div class="chamada">A sede da Secretaria de Educação do Espírito Santo (Sedu) foi ocupada na noite desta quinta-feira (17) por estudantes da rede pública</div>
		<div class="leiamais"><button type="button" class="btn btn-info">Leia Mais</button></div>

		<div class="titulo">Estudantes convocados para o Enade farão prova neste domingo</div>
		<div class="chamada">A sede da Secretaria de Educação do Espírito Santo (Sedu) foi ocupada na noite desta quinta-feira (17) por estudantes da rede pública</div>
		<div class="leiamais"><button type="button" class="btn btn-info">Leia Mais</button></div>

		<div class="titulo">Estudantes convocados para o Enade farão prova neste domingo</div>
		<div class="chamada">A sede da Secretaria de Educação do Espírito Santo (Sedu) foi ocupada na noite desta quinta-feira (17) por estudantes da rede pública</div>
		<div class="leiamais"><button type="button" class="btn btn-info">Leia Mais</button></div>
	</div>

<div id="blocoEstagios">

	
</div>


<div id="blocoEspera">	
	<h4>Próximos se Associar Geral</h4>
	<form>
		<select class="form-control">
			<option>Filtre por Região</option>
			<option>Bertioga</option>
			<option>Guarujá</option>
			<option>Mogi das Cruzes</option>
			<option>Santos</option>
		</select>
	</form>

	<table class="table">
		<tr>
			<td>1º</td>
			<td>Adnilton Santos</td>
		</tr>

		<tr>
			<td>2º</td>
			<td>Guilherme Lima de Britto</td>
		</tr>

		<tr>
			<td>3º</td>
			<td>Talita Brito Ozea</td>
		</tr>

		<tr>
			<td>4º</td>
			<td>Erika Patricia Santos Alencar</td>
		</tr>

		<tr>
			<td>5º</td>
			<td>Lygia Victoria Lima de Britto</td>
		</tr>

		<tr>
			<td>6º</td>
			<td>Pedro Alvares Cabral</td>
		</tr>

		<tr>
			<td>7º</td>
			<td>Steve Jobs</td>
		</tr>

		<tr>
			<td>8º</td>
			<td>Mark Zuckeberg</td>
		</tr>

		<tr>
			<td>9º</td>
			<td>Tim Liberty</td>
		</tr>

		<tr>
			<td>10º</td>
			<td>Bill Gates</td>
		</tr>

	</table>
</div>

</section>